
.uno {
    text-align: right;
    color:  white;
    font-family: 'Oswald', sans-serif;
    background-color: $color2;
    font-size: 15px;
    padding: $separacion;
    letter-spacing: 5px;
    margin-bottom: 20px;
}