
.index2{
    text-align: right;
}

h3{

    text-align: center;
    color:  white;
    font-family: 'Oswald', sans-serif;
    background-color: $color2;
    font-size: 15px;
    letter-spacing: 5px;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
   
}


h3{ transition: all 2s ease-in-out;
    
}

h3:hover{
  color: $color4;
} 

.imagen2{
    height: $tama0;
    width: $tama0;
    margin: 0px;
}

.imagen2{

    animation-duration: 2s;
    animation-name: hola;
    animation-iteration-count:1;
    animation-fill-mode: foward;
    animation-timing-function: ease-in-out;

}

@keyframes hola{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
} 

.imagen2{
    transition: all 2s ease-in-out;
}
.imagen2:hover{
    transform: rotateY(25deg);
}

.alinea{
    text-align: justify;
}

.separa{
    margin: $separacion1;
    margin-top: $separa;

}

.index3{
    transition: all 2s ease-in-out;
}
.index3:hover{
    color:$color9;

}

.separa1{
    margin-left: $separa1;
}



blockquote{
    p{
        font-family: 'Lato', sans-serif;
        font-size: 15px
   }
}
blockquote{
    footer{
        font-size: 17px;
    }
}
