
h4{
    text-align: right;
    color:  white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    background-color: $color5;
    font-size: 8px;
    padding: $separacion;
    letter-spacing: 5px;
    border: solid;
    border-color: $color1;
}

h4{ 
    transition: all 2s ease-in-out;

}
h4:hover{
    color: $color3;
}

.card-text{
    text-align: left;
}

.destacado{
    text-align: left;
    color:  white;
    font-family: 'Oswald', sans-serif;
    background-color: $color2;
    font-size: 15px;
    padding: $separacion;
    letter-spacing: 5px;

}

