

// separaciones y bordes
$separacion: 15px 20px 15px 20px;

$separacion1:35px 25px 25px 25px;

$separa: 40px;

$separa1: 30px;

$separa2: 50px;

$borde: solid 2px #3b92f5;

// colores

$colorfondosuple: #064894;

$color1: #a3cbf0;

$color2:#4287f5;

$color3:#052252;

$color4:#144491;

$color5:#a9cbd0;

$color6: #0000ff;

$color7:#2271b3;

$color8: #1b5583;





// tamaños

$tama1: 300px;

$tama2: 400px;

$tama3: 500px;

//fuentes
